.highlight {
  background-color: #081b27;
  padding-top: 30px;
  padding-bottom: 50px;
  overflow: auto;
}

.col-div-6 {
  width: 50%;
  float: left;
  margin-bottom: 10px;
}

.head2 {
  font-size: 50px;
  letter-spacing: 2px;
}

.p1 {
  margin-top: 10px;
  color: #8ea9bd;
  font-size: 22px;
  font-weight: 100;
  font-family: system-ui;
}

.but-box {
  float: right;
  padding-top: 80px;
  margin-right: 20px;
}

.clearfix {
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

.tab-btn {
  margin-left: 15px;
  padding: 11px 30px 9px;
  border-radius: 40px;
  background-color: #0c2738;
  transition: background-color 200ms ease, color 200ms ease;
  color: #3b4b57;
  text-decoration: none;
}

.current {
  background-color: #fff !important;
  color: #374550 !important;
}

@media only screen and (max-width: 600px) {
  .highlight {
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 850px) {
  .p1 {
    font-size: 15px;
  }

  .tab-btn {
    margin-left: 5px;
    padding: 5px 20px 5px;
  }
}

@media only screen and (max-width: 1140px) {
  .col-div-6 {
    width: 100%;
    text-align: center;
  }

  .but-box {
    float: none;
    padding-top: 40px;
    margin-left: -20px;
  }
}
